
#mainBoard {
	background-color: #EEEEEE;
	border-radius: 20px;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#configBoard {
	background-color: #E0E0E0;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#originalImageBoard {
	background-color: #E0E0E0;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#base64 {
	word-break: break-word;
}

html, body {
	height: 100%;
}

body {
	font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #ecf0f1;
  -webkit-overflow-scrolling: touch;
}

paper-scroll-header-panel{
	height: 100%;
}

.title {
	font-size: 36px;
}

.green {
	background-color: green !important;
}

.red {
	background-color: red !important;
}

.image {
//background-color: lightgray !important;
	margin-top: 5px;
	height: 500px;
	width: 100%;
}
#head{
	background-color: rgba(54,77,73,1);
}

#left {
	background-color: #FAFAFA;
	margin-top: 10px;
	margin-left: 5%;
	width: 40%;
	height: 100%;
}

#right {
	background-color: #FAFAFA;
	margin-top: 10px;
	margen-left: 55%;
	width: 40%;
}

#mosaic_button_box {
	width: 10%;
}

#mosaic_button {

}

paper-button {
	background-color: green;
	color: white;
	margin-bottom: 10px;
	margin-left: 40%;
}

#original_image_box{

}

#result_image_box{
	margin-top: 5px;
	text-align: center;
	line-height: 0px;
}

.params {
	margin-left: 10%;
	margin-right: 10%;
}
