body {
	background-image: url("../image/bg020_10.gif");
	text-align: center;
}

#mainBoard {
	background-color: #EEEEEE;
	border-radius: 20px;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#configBoard {
	background-color: #E0E0E0;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#originalImageBoard {
	background-color: #E0E0E0;
	border: #000000 solid 2px;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#base64 {
	word-break: break-word;
}
